:root {
	--font-sans: 'IBM Plex Sans', sans-serif;
	--font-mono: 'IBM Plex Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #cdd8d8;
	--secondary-color: #e9e9dc;
	--auxiliary-color: #ececea;
	--tertiary-color: #e9ebf0;
	--accent-color: #7a7a7a;
	--dp-accent-color: #6d6d6d;
	--ltr-accent-color: #8a8a8aef;
	--nav-bg: #d0e0e1;
	--heading-color: #000000b3;
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 72ch;
	--canvas-width: 78ch;
	--column-margin-top: clamp(1.66rem,1.85rem, 2.35rem);
	--column-margin-bottom: clamp(1.37rem, 1.66rem, 1.85rem);
}

body {
	min-height: calc(100vh + 1px);
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(328deg,
	  var(--primary-color) 72%,
	  var(--secondary-color) 139%,
	  var(--tertiary-color) 50.35%,
	  var(--secondary-color) 63.45%,
	  var(--primary-color) -25%
	);
		font-family: var(--font-sans);
	background-attachment: fixed;
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

body::-webkit-scrollbar {
  width: .9rem;
}

body::-webkit-scrollbar-track {
	background-color: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  outline: 1px solid var(--primary-color);
}

#svelte {
	min-height: 100vh;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--accent-color);
}
h1, h2 {
	width: 100%;
  font-family: var(--font-mono);
	letter-spacing: 0.135rem;
}
h1 {
  font-size: clamp(2.1rem, 2.2vw, 2.4rem);
  font-weight: 500;
}
h2 {
	font-size: clamp(1.85rem, 1.85vw, 2.35rem);
	font-weight: 600;
	color: var(--text-color);
}
p {
	font-family: var(--font-sans);
	color: var(--heading-color);
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}
